@import 'src/view/styles/variable';

.main-select {
    -webkit-appearance: none;
    /* 크롬 화살표 없애기 */
    -moz-appearance: none;
    /* 파이어폭스 화살표 없애기 */
    appearance: none;
    /* 화살표 없애기 */
    //width: 400px;
    //height: 44px;
    border-radius: 4px;
    border: 2px solid $lGrey02;
    font-size: 14px;
    background: url('./select-arrow.svg') no-repeat right 10px
        center;
    color: $sBlack01;

    &:focus {
        border: solid 2px $blue01;
    }

    &.long {
        width: 550px;
    }

    &:disabled {
        border: solid 2px $lGrey02;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
    }
}
