@import 'src/view/style/variable';
@import 'src/view/style/font';

$label-height: 40px;
$link-top-margin: 10px;
$link-height: 40px;

.subscription-abstract {
    &-label {
        display: flex;
        align-items: flex-start;
        height: $label-height;
        margin: 0 auto;
        font-weight: 700;
        font-size: 20px;
    }

    .sub-abs-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 10px;
        width: 100%;
        height: calc(100% - $label-height - $link-top-margin - $link-height);
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .sub-abs-item {
        padding: 8px;
        border-radius: 8px;
        border: solid 1px $border-color;

        &-top {
            display: flex;
            align-items: center;
        }

        &-image {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 6px;
            border: solid 1px $border-color;
        }

        &-info {
            margin-left: 10px;
        }

        &-title {
            font-weight: bold;
        }

        &-address {
            width: 100%;
            margin-top: 6px;
            font-size: 0.75em;
            opacity: 0.6;
        }

        &-dates {
            margin-top: 6px;
            width: 100%;
            font-size: 0.75em;
            text-align: left;
            opacity: 0.6;
        }

        &-amounts {
            width: 100%;
            margin-top: 6px;
            font-size: 0.8em;
            text-align: right;
            opacity: 0.6;
        }

        progress {
            margin-top: 6px;
            width: 100%;
        }

        &:hover {
            background-color: $sub-color;
        }
    }

    .link-to-subscription {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $link-top-margin;
        height: $link-height;
        padding: 0 20px;
        border-radius: 4px;
        background-color: $main-color;
        color: $white-color;
        font-size: 14px;
        font-weight: 700;
        transition: 0.2s;
    }
}
