@import "../../styles/variable";

.progressbar {
  position: relative;
  width: 100%;
  height: 8px;

  &-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue03;
    border-radius: 15px;

  }

  &-front {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $blue01;
    border-radius: 15px;

    //&::after {
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  content: "";
    //  width: 10px;
    //  height: 10px;
    //  border-radius: 100%;
    //  background-color: #fff;
    //}
  }
}
