@import 'src/view/style/variable';
@import 'src/view/style/font';

#RouteView {
    display: flex;
    align-items: center;
    span {
        display: flex;
        align-items: center;
        color: $grey01;
        @include P2-M;
    }
    .header-arrow{
        width: 16px;
        object-fit: contain
    ;
    }
}
